@charset "utf-8";
/* CSS Document */

	.container{
		width: 100%;
	
	}
	.cart-title{
		text-align: center;
		font-size: 25px;
	}
	.cart-form{
		width: 80%;
		padding-left: 20%;
	}
	.require-red{
		color: #9A1214;
		font-size: 10px;
	}