@charset "utf-8";
/* CSS Document */
.container{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.cart-title{
		font-size: 25px;
		border-bottom: 1px #969696 dashed;
	}
	.cart-content{
		width:100%;
	}
	.searchinfo{
		width: 100%;
	}
	.searchinfo dl dd a{
		text-decoration: none;
			
	}
	.searchinfo dl dd{
		float: left;
	}
	.searchinfo dl dt{
		float: right;
	}
	.searchinfo dl{
		width: 55%;
		display:inline-block;
		text-align: left;
		border-bottom: 1px #969696 dashed;
	}
	.page{
		width: 30%;
		margin: 0 auto;
	}
	.page ul li a{
		float: left;
	}
